body {
  margin-top: 79px;
  font-family: "Open Sans", sans-serif; !important;
}

p {
  font-size: 18px;
  line-height: 1.7em;
}

.parallax-1 {
  /* The image used */
  background-image: url(images/murphys-front.jpg);

  /* Set a specific height */
  min-height: 560px;
  padding-top: 79px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-2 {
  /* The image used */
  background-image: url(images/Lunch-IMG_5529.jpg);

  /* Set a specific height */
  min-height: 560px;
  padding-top: 79px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-2 .column {
  color: white;
}

.ui.topmenu {
  box-shadow: none;
  border: none;
  height: 79px;
}

.ui.topmenu.container.menu .item{
  color: #666666;
}

.ui.topmenu.container.menu .item:hover {
  background-color: white;
  color: black;
}

.footer-background {
  background-color: #1f1f1f;
  height: 53px;
  color: white;
}

#middle {
  height: 300px;
  background-color: white;
}