body {
  margin-top: 79px;
}

p {
  font-size: 18px;
  line-height: 1.7em;
}

.parallax-1 {
  /* The image used */
  background-image: url("http://murphyshawaii.com/media/2014/04/murphys-front.jpg");

  /* Set a specific height */
  min-height: 560px;
  padding-top: 79px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-2 {
  /* The image used */
  background-image: url("http://murphyshawaii.com/media/2014/04/Lunch-IMG_5529.jpg");

  /* Set a specific height */
  min-height: 560px;
  padding-top: 79px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-2 .column {
  color: white;
}

.ui.borderless.topmenu {
  box-shadow: none;
  border: none;
  height: 79px;
}

.footer-background {
  background-color: #1f1f1f;
  height: 53px;
  color: white;
}

